<head th:fragment="styleComponent" xmlns:th="http://www.thymeleaf.org">

    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8; width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport"
    />

    <title>Schedule for electronics</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"/>
    <link rel="stylesheet" href="/css/schedule.style.css"
          th:href="@{/css/schedule.style.css}"/>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js}"></script>
    <script type="text/javascript" src="/js/schedule.main.js" th:src="@{/js/schedule.main.js}"></script>
</head>