<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/Head :: styleComponent">
</head>
<body>
<nav th:replace="components/admin/Header :: adminHeaderComponent"></nav>
<div th:replace="components/search/SearchStudentByGroupForm :: searchStudentByGroupFormComponent"></div>
<div class="row">
    <div class="col s6">

    </div>
    <div id="students" class="col s6">
        <div th:replace="components/StudentComponent :: studentComponent"></div>
    </div>
</div>

<footer th:replace="components/Footer :: footerComponent"></footer>
</body>
</html>